<div>
  <p>Thanks again for supporting our event. This will be one of our biggest and best code camps to date with 700 registrations
    over 2 days. Here are some details to help you prepare.</p>
  <h2>Registration</h2>
  <p>Badges will be required for entrance to the session, dining, and sponsor areas. Please pick up your badge and USB drive
    at the registration area in the 1st floor building lobby. Once you have your badge, make your way to the sponsor or session
    areas.
  </p>
  <p><strong>Friday badges work for both days</strong> so please save it for Saturday if you are attending both days. No, we
    can't replace lost ones!</p>
  <h2>Hotel and Parking</h2>
  <p>You are on your own for hotel accommodations. The event parties are real close to the
    <a style="line-height: 1.4;" href="http://www.microsoft.com/en-us/mtc/locations/philadelphia_directions.aspx" target="_blank">Microsoft MTC</a>    so pick a spot near routes 202, 29, and 30. There is plenty of free parking at the Microsoft facility.
  </p>
  <h2>Saturday Sessions</h2>
  <p>The event starts at 8:30 am and ends at 4:15 pm with a closing raffle. There are 5 75 minute sessions with 15 minute breaks:
    8:30, 10:00, 11:30, 1:30, and 3:00. Lunch is served on both floors from 12:30-1:30.</p>
  <p>Some speakers are quite popular so plan to arrive early for those sessions.<strong>There will be no standing room at this camp so you must have a seat. </strong>This
    is very important to comply with fire safety rules. If a room is full, please move on to the next available session or
    to the sponsor area.</p>
  <p>The sponsor area is open all day Saturday so make some time to visit and learn from them. Their generous contributions
    make this event possible. Some of the sponsors have prize raffles that require a visit so play often!</p>
  <p>The closing remarks and raffle prizes are in the main lobby. There will be seating in the lobby with extra chairs on the
    balcony above. You could win a sponsor prize or the grand prize Surface 4 Pro.</p>
  <h2>WiFi Access</h2>
  <p>There is wireless access through the Microsoft guest network but the speakers rely on this for presentations so keep your
    traffic light. Try and use your smartphone as much as possible.</p>
  <h2>Online Guide</h2>
  <p>Use this site with the burger menu in the top left corner. This has the schedule grids, room maps, and sponsor links. These
    pages are reasonably responsive and attendees can use smartphones to navigate the schedule during the event.</p>
  <h2>Event Parties</h2>
  <p>There is party at <a href="http://www.mckenziebrewhouse.com/malvern/" target="_blank">McKenzie's Brew House</a>. We are
    renting a large private room in their basement. The Saturday party runs from 5:00-7:00 and is open to all campers. There
    is room for 125 each night for an open bar and buffet. The Saturday party is sponsored by <strong>Infragistics</strong>.</p>
  <h2>Evaluations</h2>
  <p>Evaluations are done on our web site after the event. Attendees will receive an email with a link at the end of each day.
    Results will be distributed to sponsors, speakers, and staff two weeks after the event.</p>
  <h1>Learn and enjoy!</h1>
</div>