<img src="assets/image/pdncodecamp.png" alt="philly.NET Code Camp">
<div class="md-title">February 24-25</div>
<div>Microsoft MTC</div>
<div style="padding:0 0 20px 0;">Malvern, PA</div>
<div>
  <a [routerLink]="['/sponsor']"><button md-raised-button color="primary">Sponsors</button></a>
  <a [routerLink]="['/friday']"><button md-raised-button color="accent">Friday 2/24 Agenda</button></a>
  <a [routerLink]="['/saturday']"><button md-raised-button color="primary">Saturday 2/25 Agenda</button></a>
  <a [routerLink]="['/speaker']"><button md-raised-button color="accent">Speakers</button></a>
  <a [routerLink]="['/room']"><button md-raised-button color="primary">Room Finder</button></a>
  <a [routerLink]="['/faq']"><button md-raised-button color="accent">Attendee FAQ</button></a>
</div>